nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') Todo-app
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='http://localhost:3002/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='http://localhost:3002/entry') Events
      li.nav-item
        a.nav-link(href='http://localhost:3002/signup') Registration
      li.nav-item
        a.nav-link(href='http://localhost:3002/login') Sign In