doctype html
head
  title Forgot Password
  include ../include/header.pug
include ../include/nav.pug
.Signup-page
  .form
    form.login-form(method='post' action='/post')
      input(type='text' placeholder='Username' name='userName')
      input(type='email' placeholder='Email' name='email')
      button.btn.btn-primary(type='submit') Reset Password
      p.message
        | Already have an account? 
        a(href='http://localhost:3002/login') Log in here
