doctype html
head
  title Homepage
  include ../include/header.pug
include ../include/nav.pug
// Carousel Wrapper
#video-carousel-example.carousel.slide.carousel-fade(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#video-carousel-example' data-slide-to='0')
    li(data-target='#video-carousel-example' data-slide-to='1')
    li(data-target='#video-carousel-example' data-slide-to='2')
  // /.Indicators
  // Slides
  .carousel-inner(role='listbox')
    .carousel-item.active
      video.video-fluid(autoplay='' loop='' muted='')
        source(src='https://mdbootstrap.com/img/video/Tropical.mp4' type='video/mp4')
    .carousel-item
      video.video-fluid(autoplay='' loop='' muted='')
        source(src='https://mdbootstrap.com/img/video/forest.mp4' type='video/mp4')
    .carousel-item
      video.video-fluid(autoplay='' loop='' muted='')
        source(src='https://mdbootstrap.com/img/video/Agua-natural.mp4' type='video/mp4')
  // /.Slides
  // Controls
  a.carousel-control-prev(href='#video-carousel-example' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#video-carousel-example' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
  // /.Controls
// Carousel Wrapper
