doctype html
head
  title Login
  include ../include/header.pug
include ../include/nav.pug
.login-page
  .form
    form.login-form(method='post' action='/login')
      input(type='text' placeholder='username' name='userName')
      input(type='password' placeholder='password' name='password')
      button.btn.btn-primary(type='submit') Login
      p.message
        | Forgot password?
        a(href='http://localhost:3002/forgotpassword') Forgot password
      p.message
        | Not registered?
        a(href='http://localhost:3002/signup') Create an account
