doctype html
head
  title Registration
  include ../include/header.pug
include ../include/nav.pug
.Signup-page
  .form
    form.login-form(method='post' action='/signup')
      input(type='text' placeholder='First name' name='firstName')
      input(type='text' placeholder='Last name' name='lastName')
      input(type='text' placeholder='Username' name='userName')
      input(type='email' placeholder='Email' name='email')
      input(type='password' placeholder='Password' name='password')
      input(type='text' placeholder='Phone number' name='phoneNumber')
      input(type='text' placeholder='Date of Birth' name='dob')
      input(type='text' placeholder='Gender' name='gender')
      input(type='text' placeholder='Address' name='address')
      button.btn.btn-primary(type='submit') Create account
      p.message
        | Already have an account?
        a(href='http://localhost:3002/login') Log in here
