doctype html
head
  title userdetails
  include ../include/header.pug
include ../include/nav.pug
if qs
  .alert.alert-info
    =qs
table.table
  thead
    tr
      th(scope='col') Post ID
      th(scope='col') First Name
      th(scope='col') Last Name
      th(scope='col') User Name
      th(scope='col') Email
      th(scope='col') Phone Number
      th(scope='col') Date of birth 
      th(scope='col') Gender
      th(scope='col') Address
      th(scope='col') Update Delete
  tbody
    each post in posts
      tr
        td=user.id
        td=user.firstName
        td=user.lastName
        td=user.userName
        td=user.email
        td=user.phoneNumber
        td=user.dob
        td=user.gender  
        td=user.address        
        td
          a.btn.btn-info(href=`/post/edit/${user.id}` role='button') Edit
          a.btn.btn-info(href=`/post/delete/${user.id}` role='button') Delete