extends ../layout.pug
block content
  form(method='post' action=`/post/edit/${id}`)
    .form-group
      label(for='exampleInputEmail1') entry
      input.form-control(type='text' name='entry' value=post.entry)
    button.btn.btn-primary(type='submit') Submit
