doctype html
head
  title entry
  include ../include/header.pug
include ../include/nav.pug
form(method='post' action='/createEntry')
    .form-group
        label(for='list entry') Entry
        input.form-control(type='text' name='entry')

    button.btn.btn-primary(type='submit') Submit
