doctype html
head
  title Entries
  include ../include/header.pug
include ../include/nav.pug
if qs
  .alert.alert-info
    =qs
table.table
  thead
    tr
      th(scope='col') Post ID
      th(scope='col') Users ID
      th(scope='col') entry
      th(scope='col') Update Delete
  tbody
    each post in posts
      tr
        td=post.id
        td=post.userID
        td=post.entries
        td
          button.btn.btn-primary(type='submit') Edit
          button.btn.btn-primary(type='submit') Delete